<!DOCTYPE html>
<html>
<head>
  <title>{{text_elements.[0].text}} - {{text_elements.[1].text}}</title>
</head>
<body>
  <h1>Check out these great deals!</h1>
  <div style="border: 1px solid #ccc; margin-bottom: 20px;">
    <img src="./generated_banner/template.png" alt="Our Latest Products" usemap="#productmap">
    {{{image_map_html}}}
  </div>
</body>
</html>
