<!DOCTYPE html>
<html>
<head>
  <title>{{text_elements.[0].text}} - {{text_elements.[1].text}}</title>
</head>
<body>
  <h1>Check out these great deals!</h1>
  <img src="{{latest_image}}" alt="Latest Banner" style="max-width: 100%; height: auto;"/>
  {{#products}}
    <div style="position: absolute; top: {{image_position.y}}px; left: {{image_position.x}}px; width: {{image_size.width}}px; height: {{image_size.height}}px;">
      <a href="{{links.[0].url}}" style="display: block; width: 100%; height: 100%;" alt="{{name}}"></a>
    </div>
  {{/products}}
</body>
</html>
